# Ignorar archivos de sistema
.DS_Store

# Ignorar archivos de compilación
/build/
/dist/

# Ignorar dependencias de Node.js
/node_modules/

# Ignorar archivos de entorno
.env

# Ignorar archivos temporales de editores
*.swp
*.swo

# Ignorar archivos de prueba
tests-examples/
test-results/
playwright-report/